<!DOCTYPE html>
<html lang="en">
<h2>Gefundene Artikel: {{ count }}</h2>
<h2>Gefundene Gruppen: {{ group }}</h2>

<table border="1" cellspacing="0" cellpadding="5">
    <thead>
        <tr>
            <th>Cortexnr.</th>
            <th>Hersteller</th>
            <th>Artikelnr. Hersteller</th>
            <th>Gruppe</th>
            <th>Artikelnaam</th>
            <th>EK</th>
            <th>Lager</th>
        </tr>
    </thead>
    <tbody>
        {% for art in artikel %}
        <tr>
            <td>{{ art.ART_NR }}</td>
            <td>{{ art.HERST_NAME }}</td>
            <td>{{ art.HERST_ART_NR }}</td>
            <td>{{ art.WG_NAME }}</td>
            <td>{{ art.ART_NAME }}</td>
            <td>{{ art.EK }}</td>
            <td>{{ art.Lager }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>